@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "So who are we?";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    We're a group of tech savvy individuals who want to connect entrepreneurs, as well as political and non-profit organizations to the tech community.  Sometimes, to illustrate a point, we'll need to throw a proof-of-concept together quickly and stage it for everyone to see.  That's the purpose of this WhipStat site.
</p>

<p>
    If you have any questions about WhipStat, Voter Science, Tech Roanoke or our mission, visit the
    <a href="http://www.voter-science.com/" title="Voter Science">Voter Science website</a>.
</p>

<h3>Contributors:</h3>
<p>
    <a href="mailto:chad@magendanz.com">Chad Magendanz</a> (pronounced like Häagen-Dazs) served two terms as state representative for the 5th Legislative District, which comprises the eastern third of King County.  Previously, he served 12 years in the U.S. Navy, 20 years at Microsoft, and two terms on the Issaquah School Board. After a close bid to unseat the incumbent state senator in 2016, he began volunteering as a TEALS computer science teacher at Gibson Ek High School, an innovative school he helped create.  He's now in his second year as a full-time computer science teacher in the Bellevue School District and is completing his Master of Arts in Teaching at Central Washington University.
</p>

<p>
    <a href="mailto:info@techroanoke.com">Mike Stall</a> is founder of Voter Science, TechRoanoke and past graduate of the Jennifer Dunn Leadership Institute.  He's a Principal Architect at Microsoft where he develops VS Languages, and was a developer for on .NET Runtime (CLR) focusing on debugging services.  Most of the cloud services used in our tools were developed by Mike.
</p>
