@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "So who are we?";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    We're a group of tech savvy individuals who want to connect entrepreneurs, as well as political and non-profit organizations to the tech community.  Sometimes, to illustrate a point, we'll need to throw a proof-of-concept together quickly and stage it for everyone to see.  That's the purpose of this WhipStat site.
</p>

<p>
    If you have any questions about WhipStat, Voter Science, Tech Roanoke or our mission, visit the
    <a href="http://www.voter-science.com/" title="Voter Science">Voter Science website</a>.
</p>

<h3>Contributors:</h3>
<p>
    <a href="mailto:chad@magendanz.com">Chad Magendanz</a> (pronounced like Häagen-Dazs) served two terms as state representative for the 5th Legislative District, which comprises the eastern third of King County.  He was ranking Republican on the House Education committee and also serves on the House Appropriations and House Technology & Economic Development committees.  Previously, he served as the Issaquah School Board president and in leading roles of other regional and statewide education-related committees and boards.  He has an electrical engineering degree from Cornell and served as an officer in the U.S. Navy for 12 years.  Having worked at Microsoft for over 20 years in various roles, he still contracts as a software design consultant for many local and international firms.  He and his wife of 27 years, Galen, have two teenage boys and reside in Issaquah.
</p>

<p>
    <a href="mailto:info@techroanoke.com">Mike Stall</a> is founder of Voter Science, TechRoanoke and past graduate of the Jennifer Dunn Leadership Institute.  He's a Principal Architect at Microsoft where he develops VS Languages, and was a developer for on .NET Runtime (CLR) focusing on debugging services.  Most of the cloud services used in our tools were developed by Mike.
</p>
