@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Have a question or comment?";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This is a free site, so please don't expect the level of online support that you'd receive from a commercial offering.  That said, we stand by ready to help if you need assistance.
</p>

<h4>Email:</h4>
<address>
    <strong>Support:</strong> <a href="mailto:chad@magendanz.com">chad@magendanz.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:info@magendanz.com">info@magendanz.com</a>
</address>

<h4>Address:</h4>
<address>
    P.O. Box 1362<br />
    Issaquah, WA 98027<br />
</address>

<h4>Phone:</h4>
<address>
    <abbr title="Phone">Main:</abbr>
    425-395-4895
</address>
