<h2>Download Complete</h2>
<div class="alert alert-success" role="alert">
    <h4>Download complete.</h4>
    <p>You can open the tab-delimited text files in any text editor or import them into Excel.  While the data contained within are public records, per RCW 42.56.070 you may not sell or provide access to these lists for commercial purposes.</p>
</div>
<div class="text-center">
    <a class="btn btn-success" href="@Context.Request.Path">Start another query...</a>
</div>

@section Scripts {
    <script>
        // Start the actual file download...
        window.location.replace("Download");
    </script>
}