@model WhipStat.Models.ProjectViewModels.ResultsViewModel
<h2>Election Results</h2>

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Projects" asp-action="Results" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <h3>King County Elections Results Database</h3>
            <ol class="list-group">
                <li class="list-group-item" id="Item1">
                    <h4 class="list-group-item-heading">
                        Select Legislative District:
                        <select asp-for="District" asp-items="Model.Districts"></select>
                    </h4>
                    <p class="list-group-item-text">Pick your legislative district from the dropdown list above.  Once you've selected one, additional filters will be populated in a list below.</p>
                </li>
                <li class="list-group-item" id="Item2" style="display:none">
                    <h4 class="list-group-item-heading">
                        Select Year:
                        <select asp-for="Year" asp-items="Model.Years"></select>
                    </h4>
                    <p class="list-group-item-text">Pick the desired election year from the dropdown list above.  Once you've selected one, you'll be able to save the list of registered voters as a text file.</p>
                </li>
                <li class="list-group-item" id="Item3" style="display:none">
                    <h4 class="list-group-item-heading">
                        Select Election:
                        <select asp-for="Election" asp-items="Model.Elections"></select>
                    </h4>
                    <p class="list-group-item-text">Pick the desired election from the dropdown list above.  Once you've selected one, additional filters will be populated in a list below.</p>
                </li>
                <li class="list-group-item" id="Item4" style="display:none">
                    <h4 class="list-group-item-heading">
                        Select Race:
                        <select asp-for="Race"></select>
                    </h4>
                    <p class="list-group-item-text">Pick the desired race from the dropdown list above.  Once you've selected one, additional filters will be populated in a list below.</p>
                </li>
                <li class="list-group-item" id="Item5" style="display:none">
                    <h4 class="list-group-item-heading">
                        Select Entry:
                        <select asp-for="Entry"></select>
                    </h4>
                    <p class="list-group-item-text">Pick the desired entry from the dropdown list above.  Once you've selected one, you'll be able to save the list of registered voters as a text file.</p>
                </li>
                <li class="list-group-item" id="Submit" style="display:none">
                    <div class="list-group-item-text">
                        <button class="btn btn-lg center-block" type="submit" id="Download">
                            <span class="glyphicon glyphicon-cloud-download"></span> Download
                        </button>
                    </div>
                </li>
                <li class="list-group-item" id="Loading" style="opacity:0.5; display:none">
                    <div class="list-group-item-text">
                        <div class="progress center-block" style="width: 20%">
                            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: 100%">Loading...</div>
                        </div>
                    </div>
                </li>
            </ol>
        </form>
    </div>
    <div class="col-md-4">
        <section>
            <h3>Related Links</h3>
            <p>
                More information is available at the sites below:
            </p>
            <ul>
                <li><a href="http://kingcounty.gov/depts/elections.aspx">King County Elections</a></li>
                <li><a href="http://app.leg.wa.gov/DistrictFinder/">District Finder</a></li>
                <li><a href="https://www.sos.wa.gov/elections/redistricting/maps.aspx">District Maps</a></li>
            </ul>
        </section>
    </div>
</div>


@section Scripts {
    <script>
        $("#District").change(function () {
            if (isSelected(this.value)) {
                $("#Item2").show();
            }
        }).change();
        $("#Year").change(function () {
            if (isSelected(this.value)) {
                $("#Item3").show();
            }
        }).change();
        $("#Election").change(function () {
            if (isSelected(this.value)) {
                $("#Loading").show();
                $.get("/Projects/GetRaceList/?" + $('form').serialize(), function (data) {
                    $("#Race").setOptions(data);
                    $("#Loading").hide();
                    $("#Item4").show();
                })
            }
        }).change();
        $("#Race").change(function () {
            if (isSelected(this.value)) {
                $("#Loading").show();
                $.get("/Projects/GetEntryList/?" + $('form').serialize(), function (data) {
                    $("#Entry").setOptions(data);
                    $("#Loading").hide();
                    $("#Item5").show();
                })
            }
        }).change();
        $("#Entry").change(function () {
            if (isSelected(this.value)) {
                $("#Submit").show();
            }
        }).change();
        $("#Download").click(function () {
            $("#Submit").hide();
            $("#Loading").show();
        }).change();
    </script>
}