<style>
    table {{ table-layout: auto; width: 200px; }}
    th, td {{ padding: 0px 2px; }}
    img {{ width: 48px; height: 64px }}
</style>
<div>
    <table>
        <tr>
            <td rowspan="2">
                <img alt="{0}" src="http://app.leg.wa.gov/assets/Images/MemberThumbnails/{2}/{1}.jpg" />
            </td>
            <th>
                {0} 
            </th>
        </tr>
        <tr>
            <td>
                {2}, LD {3} ({4})<br />
                Partisan bias: <b>{5:N1}%</b>
            </td>
        </tr>
    </table>
</div>